.main-container{
    width: 60%;
    height: 80vh;
    padding:2rem 1rem ;
    margin: auto;
    margin-top: 3rem;
    /* border-color: rgb(0, 255, 221); */
    background-image: url(./public/background.jpg);
    background-size: cover;              /* Make image cover entire viewport */
    background-position: center center; /* Center the image */
    border-radius: 6px;
    /* border: 1px solid green; */
    
  
}


.main-logo{
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 780px) {
  .main-container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .main-container {
    width: fit-content;
  }
}